﻿@model IEnumerable<TT.Domain.Items.DTOs.ItemDetail>
@using TT.Domain.Statics

@{
    var hat = Model.FirstOrDefault(i => i.ItemSource.ItemType == PvPStatics.ItemType_Hat && i.IsEquipped);
    var shirt = Model.FirstOrDefault(i => i.ItemSource.ItemType == PvPStatics.ItemType_Shirt && i.IsEquipped);

    var undershirt = Model.FirstOrDefault(i => i.ItemSource.ItemType == PvPStatics.ItemType_Undershirt && i.IsEquipped);
    var pants = Model.FirstOrDefault(i => i.ItemSource.ItemType == PvPStatics.ItemType_Pants && i.IsEquipped);
    var underpants = Model.FirstOrDefault(i => i.ItemSource.ItemType == PvPStatics.ItemType_Underpants && i.IsEquipped);
    var shoes = Model.FirstOrDefault(i => i.ItemSource.ItemType == PvPStatics.ItemType_Shoes && i.IsEquipped);

    var pet = Model.FirstOrDefault(i => i.ItemSource.ItemType == PvPStatics.ItemType_Pet && i.IsEquipped);

    var lhand = Model.FirstOrDefault(i => i.ItemSource.ItemType == PvPStatics.ItemType_Accessory && i.IsEquipped);
    var rhand = Model.Where(i => i.ItemSource.ItemType == PvPStatics.ItemType_Accessory && i.IsEquipped).Skip(1).SingleOrDefault();
}

<div id="fullDetails">

</div>

<div class="row rowP">
    @{

        if (hat != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(hat.ItemSource.ItemType, hat.ItemSource.PortraitUrl, true));" title="@hat.ItemSource.FriendlyName--@hat.ItemSource.Description">
                <span class="icon icon-level"><b>@hat.Level</b></span>
                <p class="slotName">Hat

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(hat.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>

                

            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Hat</p></div>
        }

        if (shirt != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(shirt.ItemSource.ItemType, shirt.ItemSource.PortraitUrl, true));" title="@shirt.ItemSource.FriendlyName--@shirt.ItemSource.Description">
                <span class="icon icon-level"><b>@shirt.Level</b></span>
                <p class="slotName">Shirt

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(shirt.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Shirt</p></div>
        }

        if (undershirt != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(undershirt.ItemSource.ItemType, undershirt.ItemSource.PortraitUrl, true)); " title="@undershirt.ItemSource.FriendlyName--@undershirt.ItemSource.Description">
                <span class="icon icon-level"><b>@undershirt.Level</b></span>
                <p class="slotName">Undershirt

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(undershirt.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Undershirt</p></div>
        }

        if (pants != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(pants.ItemSource.ItemType, pants.ItemSource.PortraitUrl, true)); " title="@pants.ItemSource.FriendlyName--@pants.ItemSource.Description">
                <span class="icon icon-level"><b>@pants.Level</b></span>
                <p class="slotName">Pants

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(pants.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');">
                <p class="slotName">Pants</p>
            </div>
        }

        if (underpants != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(underpants.ItemSource.ItemType, underpants.ItemSource.PortraitUrl, true)); " title="@underpants.ItemSource.FriendlyName--@underpants.ItemSource.Description">
                <span class="icon icon-level"><b>@underpants.Level</b></span>
                <p class="slotName slotUnderpants">Underpants

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(underpants.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName slotUnderpants">Underpants</p></div>
        }

        if (shoes != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(shoes.ItemSource.ItemType, shoes.ItemSource.PortraitUrl, true)); " title="@shoes.ItemSource.FriendlyName--@shoes.ItemSource.Description">
                <span class="icon icon-level"><b>@shoes.Level</b></span>
                <p class="slotName">Shoes

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(shoes.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Shoes</p></div>
        }

        if (lhand != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(lhand.ItemSource.ItemType, lhand.ItemSource.PortraitUrl, true)); " title="@lhand.ItemSource.FriendlyName--@lhand.ItemSource.Description">
                <span class="icon icon-level"><b>@lhand.Level</b></span>
                <p class="slotName">Acc 1

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(lhand.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Acc 1</p></div>
        }

        if (rhand != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(rhand.ItemSource.ItemType, rhand.ItemSource.PortraitUrl, true)); " title="@rhand.ItemSource.FriendlyName--@rhand.ItemSource.Description">
                <span class="icon icon-level"><b>@rhand.Level</b></span>
                <p class="slotName">Acc 2

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(rhand.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Acc 2</p></div>
        }
        if (pet != null)
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url(@PortraitHelper.GetGraphicByItemType(pet.ItemSource.ItemType, pet.ItemSource.PortraitUrl, true)); " title="@pet.ItemSource.FriendlyName--@pet.ItemSource.Description">
                <span class="icon icon-level"><b>@pet.Level</b></span>
                <p class="slotName">Pet

                    @Ajax.ActionLink("[+]", MVC.Item.ShowItemDetails(pet.Id), new AjaxOptions { UpdateTargetId = "fullDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "detail_success", OnFailure = "detail_failure", OnBegin = "detail_wait" }, new { @class = "detailLink" })

                </p>
            </div>
        }
        else
        {
            <div class="portrait equipmentMargin col-md-2 col-sm-4 col-xs-12 " style="background-image: url('/Images/PvP/itemsportraits/none.jpg');"><p class="slotName">Pet</p></div>
        }
    }
</div>

<style>
    .slotName{
        position: absolute;
        text-align: center;
        top: 0px;
        width: 70px;
        background: white;
    }

    .slotUnderpants {
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    }

    .equipmentMargin{
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .rowP{
        padding: 20px;
    }

</style>