﻿@model IEnumerable<TT.Domain.Models.Player>
@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers
@using TT.Domain.Procedures
@{
    ViewBag.Title = $"Dungeon Leaderboard - {PvPStatics.AlphaRound}";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.PlayerStatsLeaders())">Round Achievement Leaders</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.ItemLeaderboard())">View Item Leaderboard</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.Leaderboard())">View XP Leaderboard</a></li>
}

<div class="specialBox specialBox2">
@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)
</div>

<div class="specialBox">
    <b>Dungeon Leaderboard -- @PvPStatics.AlphaRound</b><br>
</div>

@if (PvPStatics.ChaosMode)
{
    <div class="specialBox specialBox2">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        During <a href="@Url.Action(MVC.Info.FAQ())#chaosMode">Chaos Mode</a> leaderboard rankings do not reflect the standings at the end of the round and are not saved.
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </div>
}

<div class="containerInner">
    <table>
        <thead>
            <tr>
                <th style="width:15px">#</th>
                <th class="leaderBoardName">Name</th>
                <th class="leaderBoardCovenant mobile">Covenant</th>
                <th class="leaderBoardForm mobile">Form</th>
                <th>Mobility</th>
                <th>Lvl</th>
                <th>Dungeon Points</th>
            </tr>
        </thead>
        <tbody>

            @{
                var rank = 1;
            }

            @foreach (var p in Model.OrderByDescending(p => p.PvPScore).ThenByDescending(p => p.Level))
            {
                <tr>
                    <td style="width:15px">
                        @rank
                    </td>
                    <td>
                        <a href="@Url.Action(MVC.PvP.LookAtPlayer(p.Id))">@p.GetFullName()</a>
                        @HtmlHelpers.PrintGenderIcon(p.Gender)

                        @{
                if (!PlayerProcedures.PlayerIsOffline(p))
                {
                    <span class="icon icon-online"></span>
                }
                else
                {
                    <span class="icon icon-offline"></span>
                }

                if (p.GameMode == 2)
                {
                    <span class="icon icon-pvp"></span>
                }
                else if (p.GameMode == 1)
                {
                    <span class="icon icon-protection"></span>
                }
                else if (p.GameMode == 0)
                {
                    <span class="icon icon-superprotection"></span>
                }

                        }

                    </td>
                    <td class="mobile">
                        @HtmlHelpers.GetCovenantInfoShort(p)
                    </td>
                    <td class="mobile">
                        <span style="font-size:11px;">@FormStatics.GetForm(p.FormSourceId).FriendlyName</span>
                    </td>
                    <td>
                        @{
                if (p.Mobility == PvPStatics.MobilityFull)
                {
                    <span style="color: green">Animate</span>
                }
                else if (p.Mobility == PvPStatics.MobilityPet)
                {
                    <span style="color: red">Animal</span>
                }
                else
                {
                    <span style="color: red">Inanimate</span>
                }
                        }
                    </td>

                    <td>
                        @p.Level
                    </td>
                    <td>
                        @Math.Floor(p.PvPScore)
                    </td>
                </tr>
                rank++;

            }

        </tbody>



    </table>
</div>

@section head
{
    <style>
        .leaderBoardName {
            width: auto;
        }

        .leaderBoardCovenant {
            width: 20%;
        }

        .leaderBoardForm {
            width: 30%;
        }

        table {
            padding: 3px;
            border: 1px solid black;
            width: 100%;
        }

        th {
            background-color: black;
            color: white;
            text-align: center;
            padding: 0px;
        }

        tr {
            padding: 3px;
            border: 1px solid black;
        }

            tr:nth-child(odd) {
                background-color: lightgray;
            }

        td {
            text-align: center;
            padding: 2px 0px 2px 0px;
        }

        .dark {
            background-color: #CCCCCC;
        }

        tr.dark:nth-child(odd) {
            background-color: #B8B8B8;
        }

        .mobile {
        }

        @@media screen and (max-width: 767px) {
            .mobile {
                display: none;
            }
        }
    </style>
}

@section scripts
{
    <script src="@Links.Scripts.leaderboardDropdown_js"></script>
    <script>

        $("table tbody td:nth-child(7)")
            .each(function() {
                if ($(this).html() == 0) {
                    $(this).parent('tr').addClass("dark");
                }
            });

        var myName = "@ViewBag.MyName";
        if (myName !== "") {
            $("tr td:contains('" + myName + "')").first().parent('tr').css("background-color", "pink");
        }
    </script>
}