﻿@model TT.Domain.Models.JewdewfaeEncounter
@{
    ViewBag.Title = "Talk to Adrianna";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 20px">
            <img class="img-responsive center-block" src="../Images/PvP/portraits/nerd_mouse_boss_Dandelion.jpg">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 textSpaced" style="padding: 20px; text-align: justify;">
            <p>"Good day!  My name is Adrianna.  No doubt you've read my thesis?  Oh, no, I don't expect someone like you to understand my theories on the quantum fluctation of arcane third-wave reverbrations in a vacuum!  Let's not kid ourselves, you're not quite someone of my mental caliber.</p>

            <p>I'm having a bit of a quarrel with that bimbo of a sister, Candice.  Ugh, all she wants to do is flirt with everyone and have lots of hot... you know...  Go help me convince her the error of her ways.  There's more to life than mindless carnal pleasure!  That's just something that a bitchy prom queen like her just can't get through her thick head... but we intellectuals know better, don't we?  Help me stuff some knowledge in that tiny little brain by changing her into a briany gal like me and I'll make sure you're well rewarded!"</p>

            <p>"And you'd better not be on her side!  Stick with me and I'll make sure you become an intellectual superior like me, both in mind and body!  That'll REALLY piss her off..."</p>
        </div>
    </div>
</div>

