﻿@model TT.Domain.ViewModels.ContributePageViewModel
@using System.Web.Mvc
@using TT.Domain.Statics
@using TT.Domain.Models
@using TT.Web.Controllers

@{
    ViewBag.Title = "Contribute";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Contribution.ContributeSpell())">Spells</a></li>
    <li><a href="@Url.Action(MVC.Contribution.ContributeEffect())">Curses</a></li>
    <li><a href="@Url.Action(MVC.Contribution.MyDMRolls())">DM encounters</a></li>
    @{
        if (User.IsInRole(PvPStatics.Permissions_QuestWriter))
        {
            <li><a href="@Url.Action(MVC.QuestWriter.Index())">Quests</a></li>
        }

        if (User.IsInRole(PvPStatics.Permissions_Admin))
        {
            <li><a href="@Url.Action(MVC.PvPAdmin.FaeList())">Jewdewfae</a></li>
            <li><a href="@Url.Action(MVC.Tome.List())">Tomes</a></li>
        }

        if (User.IsInRole(PvPStatics.Permissions_Previewer) || User.IsInRole(PvPStatics.Permissions_SpellApprover))
        {
            <li><a href="@Url.Action(MVC.PvPAdmin.ApproveContributionList())">Awaiting approval</a></li>
        }
    }
    <li><a href="@Url.Action(MVC.Contribution.ContributeGraphicsNeeded())">Awaiting release</a></li>
    <li><a href="https://gitlab.com/transformania/tt-game">Source code</a></li>
}

<div class="containerInner">

    <h1>Contribute to Transformania Time</h1>

    <p>Would you like to contribute to the game?  This page will help you to submit new content.  You will receive <a href="#credits">credit for your work</a> and it will be greatly appreciated!</p>

    <p>A few things to remember:</p>
    <ul class="listdots">
        <li>All contributions are subject to review and moderation.</li>
        <li>Strictly no underage characters (less than 18 years old).</li>
        <li>No plagiarism.  If your contribution involves parody or reference to copyrighted material, check with the proof readers and expect heavier moderation.</li>
        <li>You retain creator's rights over your artwork and spell contributions, but you agree to them being used in the game providing it remains non-commercial.</li>
    </ul>
    <p>This is not a complete list.</p>
    <p>There are more details about the contribution process in <a href="@Url.Action(MVC.Info.FAQ())#contributions">the FAQs</a></p>

    <div class="contribution-type-container">

        <div class="contribution-type-box">
            <h3>Writing</h3>
            <p>
                Do you enjoy creative writing?  There are plenty of opportunities to contribute your work to the game!
            </p><p>
                The main way to contribute is to <a href="@Url.Action(MVC.Contribution.ContributeSpell())">write a spell</a> that turns players into a new item, pet or animate form.
            </p><p>
                Other written contributions do not contribute to custom forms:
            </p>
            <ul class="listdots">
                <li><a href="@Url.Action(MVC.Contribution.ContributeEffect())">Create a curse or blessing</a> that gives an effect to players who find it, or gives the owners of an item special abilities.</li>
                <li><a href="@Url.Action(MVC.Contribution.MyDMRolls())">Add a DM encounter</a> to provide some roleplay inspiration in the chatrooms.</li>
                @{
                    if (User.IsInRole(PvPStatics.Permissions_QuestWriter))
                    {
                        <li><a href="@Url.Action(MVC.QuestWriter.Index())">Devise a quest</a> that can boost a player's XP or change their form.</li>
                    }
                    else
                    {
                        <li>Devise a quest.  Let us know on <a href="https://discord.gg/z66CYzX">Discord</a> if you are interested in this.</li>
                    }

                    if (User.IsInRole(PvPStatics.Permissions_Admin))
                    {
                        <li><a href="@Url.Action(MVC.PvPAdmin.FaeList())">Author a Jewdewfae encounter</a> that rewards players in the right form.</li>
                        <li><a href="@Url.Action(MVC.Tome.List())">Write a tome</a> that builds the lore around Sunnyglade.</li>
                    }
                    else
                    {
                        <li>Author a Jewdewfae encounter or write a tome of Sunnyglade lore.  Let us know on <a href="https://discord.gg/z66CYzX">Discord</a> if you are interested in this.</li>
                    }
                }
            </ul>
            <p>
                You can also help improve the quality of existing in-game text by reporting mistakes in the #proofreading channel on <a href="https://discord.gg/z66CYzX">Discord</a>.
            </p>
            @{
                if (User.IsInRole(PvPStatics.Permissions_Proofreader))
                {
                    <p class="good">You are registered as a proofreader.</p>
                }
                if (User.IsInRole(PvPStatics.Permissions_Previewer) || User.IsInRole(PvPStatics.Permissions_SpellApprover))
                {
                    <p>
                        <span class="good">You have permission to see pending submissions.</span><br />
                        <a href="@Url.Action(MVC.PvPAdmin.ApproveContributionList())">Preview contributions</a>
                    </p>
                }
            }
        </div>

        <div class="contribution-type-box">
            <h3>Art</h3>
            <p>
                We are always on the lookout for skilled artists to contribute quality imagery to the game, such as 600&times;600px form portraits.
            </p><p>
                Artists will be credited for any artwork that makes it into the game and may earn a custom starting form after multiple contributions.  Registered artists can also qualify for expanded <a href="#credits">artist bios</a> to showcase their work.
            </p>

            @{
                if (User.IsInRole(PvPStatics.Permissions_Artist))
                {
                    <p class="good">
                        You are registered as an artist.
                    </p>
                    <ul class="listdots">
                        <li><a href="@Url.Action(MVC.Settings.WriteAuthorArtistBio())">Update your artist bio</a></li>
                        @{
                            if (Model.HasPublicArtistBio)
                            {
                                <li><a href="@Url.Action(MVC.Settings.SetArtistBioVisibility(false))">Hide your artist bio</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action(MVC.Settings.SetArtistBioVisibility(true))">Make your artist bio public</a></li>
                            }
                        }
                    </ul>
                }
                else
                {
                    <p>
                        If you are interested in joining the Transformania Time artists list, let us know on <a href="https://discord.gg/z66CYzX">Discord</a>.
                    </p>
                }
            }

            <p>
                There are a number of <a href="@Url.Action(MVC.Contribution.ContributeGraphicsNeeded())">spells waiting for art</a> before they can go live.  If you would like to help out, contact the spell author or post a message on <a href="https://discord.gg/z66CYzX">Discord</a>.
            </p>
        </div>

        <div class="contribution-type-box">
            <h3>Gameplay</h3>
            <p>
                Are you a coder and want to help out?  Or would you like to improve how the game works?
            </p><p>
                Transformania Time is open source under the <a href="https://gitlab.com/transformania/tt-game/-/blob/master/COPYING">MIT license</a> and you can find everything you need to get started on <a href="https://gitlab.com/transformania/tt-game">GitLab</a>.  We accept merge requests and there is a <a href="https://gitlab.com/transformania/tt-game/-/issues">list of issues</a> that can be worked on, though you should let us know if you plan to work on any big feature!
            </p><p>
                Even if you're not a coder, you can still help out by reporting any bugs you find and submitting suggestions on the <a href="https://discord.gg/z66CYzX">Discord</a> #bug-reports and #tt-suggestions-and-improvements channels, or through the <a href="https://gitlab.com/transformania/tt-game/-/issues/new">issue tracker</a>.  Also keep an eye out for polls and feedback requests in the chatrooms.
            </p><p>
                Remember that Transformania Time is supported in people's free time, so any ideas you have are more likely to be implemented if you can find someone willing to work on them.
            </p>
        </div>

        <div class="contribution-type-box">
            <h3><span class="icon-donate-inline"></span>Donations</h3>
            <p>
                Transformania Time is a free-to-play game run by volunteers in their own time.  We rely on people's donations to keep the servers working and to invest in improvements, such as new art.
            </p><p>
                If you want to help, you can <a href="@Url.Action(MVC.Info.Donate())">support us on Patreon</a>.
            </p><p>
                Dependent upon how much you are able to contribute, you will receive benefits such as:
            </p>
            <ul class="listdots">
                <li>A donor icon beside your name</li>
                <li>The ability to choose an in-game nickname</li>
                <li>Keeping more messages in your inbox for longer</li>
            </ul>
            <p>
                For more details see our <a href="@Url.Action(MVC.Info.Donate())">donations page</a>.
            </p>

            @{
                if (Model.Me.DonatorLevel > 0)
                {
                    <p class="good">
                        You are a level @Model.Me.DonatorLevel donor.
                    </p>
                }
                if (User.IsInRole(PvPStatics.Permissions_Admin))
                {
                    <p>
                        <a href="@Url.Action(MVC.Donator.List(1))">Manage Donations</a>
                    </p>
                }

            }

        </div>

    </div>

    <h3><a name="credits">Contributors and Credits</a></h3>

    <p>
        Recent contributions are listed in the <a href="@Url.Action(MVC.Info.GameNews())">Game News</a>.
    </p><p>
        Artists and spellwriters who get multiple contributions deployed in the game may be rewarded with a slot for a custom base form.
    </p><p>
        We are extremely grateful to everyone who has worked on the game, including:
    </p>
    <ul class="listdots">
        <li><a href="@Url.Action(MVC.Info.Rules())#staff">Staff</a> (admins and moderators)</li>
        <li>Spellwriters <a href="@Url.Action(MVC.Contribution.GetContributionTable())">(Spell counts)</a></li>
        <li>
            Artists, including these with public artist biographies:
            <ul>
                @{
                    foreach (var bio in Model.ArtistBios)
                    {
                        var oid = MVC.Settings.AuthorArtistBio(bio.Owner.Id);
                        var action = Url.Action(oid);
                        if (!string.IsNullOrEmpty(bio.OtherNames))
                        {
                            <li>@bio.OtherNames <a href="@action">(Artist bio)</a></li>
                        }
                        else
                        {
                            <li>@bio.Owner.UserName <a href="@action">(Artist bio)</a></li>
                        }
                    }
                }
            </ul>
        </li>
        <li><a href="https://gitlab.com/transformania/tt-game/-/graphs/master">Developers</a></li>
        <li>Everyone else who has contributed to the game!</li>
    </ul>

</div>
