﻿<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/menacing_anglerfish_girl_Mizuaho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>7,666</b></p>
            <p>
                <a href="/pvp/lookatplayer/629991">Que Tee</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629991">Que Tee</a> (7,666)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628929">Varin Elderblood</a> (7,027)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629548">Vanilla Cream</a> (4,640)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/635164">Alex Fenton</a> (4,482)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/631063">Elithyl Norma</a> (3,674)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/635776">Puyo Hebihime</a> (3,617)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (3,558)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/630289">Carole Power II</a> (3,551)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629182">Minervas Petslut</a> (3,377)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/632334">Mera Blow II</a> (3,196)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>1,973</b></p>
            <p>
                <a href="/pvp/lookatplayer/628971">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (1,973)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (1,663)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/634557">Eddie Dahl</a> (1,464)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628982">Tomiko Hewitt</a> (1,454)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/639508">Max Velly</a> (1,413)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (1,321)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629940">Rey Els</a> (1,219)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (1,200)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (1,186)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (1,107)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>10,154</b></p>
            <p>
                <a href="/pvp/lookatplayer/629120">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (10,154)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/633978">Zane Aurelius</a> (7,779)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (6,317)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/633295">Judith Neff</a> (6,313)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (5,539)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (5,397)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629240">Juli Invincible</a> (5,362)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/641231">Brantley Loving IV</a> (5,069)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/634557">Eddie Dahl</a> (4,602)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (4,510)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>884</b></p>
            <p>
                <a href="/pvp/lookatplayer/631723">Lisa Grant</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (884)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628929">Varin Elderblood</a> (838)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629379">Kieran Seekshadow</a> (584)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (583)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (569)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/631549">Taylor Lafrance</a> (568)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629240">Juli Invincible</a> (554)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/628982">Tomiko Hewitt</a> (543)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/633978">Zane Aurelius</a> (543)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (542)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/councilorman_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,477</b></p>
            <p>
                <a href="/pvp/lookatplayer/634176">Eador Masterson II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/634176">Eador Masterson II</a> (1,477)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628982">Tomiko Hewitt</a> (955)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (934)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/636106">Tyler Utyr II</a> (910)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (852)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (751)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (734)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/639508">Max Velly</a> (717)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629548">Vanilla Cream</a> (664)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (625)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/councilorman_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,191</b></p>
            <p>
                <a href="/pvp/lookatplayer/634176">Eador Masterson II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/634176">Eador Masterson II</a> (2,191)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629548">Vanilla Cream</a> (1,275)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629244">Melissa Rose</a> (1,119)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628927">Beatryka Mane</a> (701)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/628918">Mio 'Latex Queen' Clavat</a> (618)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/636987">Lavonne Shuman</a> (469)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629320">Sofie Howard</a> (452)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629033">Crystal Moyer</a> (360)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/634201">Joanna Pratt</a> (271)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/635845">Dronewolf Okami</a> (256)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>25,160</b></p>
            <p>
                <a href="/pvp/lookatplayer/628929">Varin Elderblood</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628929">Varin Elderblood</a> (25,160)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/639007">Francis Beals II</a> (17,520)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/634176">Eador Masterson II</a> (11,620)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/630289">Carole Power II</a> (9,980)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (7,200)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (5,500)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/639062">Krista Keith</a> (4,400)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/636987">Lavonne Shuman</a> (3,640)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629024">Frankie Light</a> (3,220)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629121">Dark Yvesz</a> (2,500)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>61</b></p>
            <p>
                <a href="/pvp/lookatplayer/628929">Varin Elderblood</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628929">Varin Elderblood</a> (61)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/634176">Eador Masterson II</a> (55)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/639007">Francis Beals II</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/630289">Carole Power II</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/636987">Lavonne Shuman</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/635800">Lilianya Nyekobornya II</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629240">Juli Invincible</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/641231">Brantley Loving IV</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629061">Knight Pearce</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/628990">Luciana Olympia</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gummy_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>83</b></p>
            <p>
                <a href="/pvp/lookatplayer/628982">Tomiko Hewitt</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628982">Tomiko Hewitt</a> (83)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/636106">Tyler Utyr II</a> (77)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (59)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/637169">Droneslave Gemini</a> (47)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/630289">Carole Power II</a> (40)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (34)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (29)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/636549">Shane Hou II</a> (28)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/637380">Jennifer Cumdump</a> (28)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/632533">Walter Gage</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bdsm_pony_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>19</b></p>
            <p>
                <a href="/pvp/lookatplayer/633905">Alice Toy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/633905">Alice Toy</a> (19)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/634143">Drea Bertrand IV</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/636106">Tyler Utyr II</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629506">Pie Pies</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/634472">Arya Vynf</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/631933">Alonzo Thorne II</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/635961">Yuuki Savage VI</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/637380">Jennifer Cumdump</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bdsm_pony_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>4</b></p>
            <p>
                <a href="/pvp/lookatplayer/633905">Alice Toy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/633905">Alice Toy</a> (4)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/634201">Joanna Pratt</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/636106">Tyler Utyr II</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/634143">Drea Bertrand IV</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/634710">Sophie Zeller</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/634472">Arya Vynf</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/635593">Marco Lackey II</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/637380">Jennifer Cumdump</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/631215">Cynthia Smothers II</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gummy_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>106</b></p>
            <p>
                <a href="/pvp/lookatplayer/628982">Tomiko Hewitt</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628982">Tomiko Hewitt</a> (106)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (73)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (69)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/639508">Max Velly</a> (57)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (49)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/637380">Jennifer Cumdump</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/634557">Eddie Dahl</a> (41)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629291">Nat Kimmel</a> (31)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/635640">Ryan Copley</a> (29)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/628925">Luna Moonwell</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>116</b></p>
            <p>
                <a href="/pvp/lookatplayer/628971">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (116)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (73)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (58)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/634557">Eddie Dahl</a> (57)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629940">Rey Els</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/633978">Zane Aurelius</a> (53)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (48)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (36)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/631549">Taylor Lafrance</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_01_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>32</b></p>
            <p>
                <a href="/pvp/lookatplayer/631662">Hezekiah Gotobed</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/631662">Hezekiah Gotobed</a> (32)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629940">Rey Els</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629646">Arenna Prewitt II</a> (20)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/636768">Achilles Allard</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/632535">Alice Browning</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/640803">Christine Lawler III</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/632624">Amond Kobalt III</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629309">Alum Valenti</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>108</b></p>
            <p>
                <a href="/pvp/lookatplayer/628971">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (108)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629940">Rey Els</a> (80)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/634557">Eddie Dahl</a> (58)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (58)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/631662">Hezekiah Gotobed</a> (50)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/633978">Zane Aurelius</a> (50)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (47)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/632624">Amond Kobalt III</a> (39)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (39)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/PleatedPlaidSkirt.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/637049">Sissy Slut II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/637049">Sissy Slut II</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/634201">Joanna Pratt</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/634809">Russian Slut</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/635164">Alex Fenton</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629548">Vanilla Cream</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/631574">Flux Fighter</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/635785">Frye Baits</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/628948">Matt Felgrand</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/639508">Max Velly</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>87</b></p>
            <p>
                <a href="/pvp/lookatplayer/628971">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (87)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (67)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (57)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (44)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/628912">Candy Savoy</a> (25)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629358">Tara Bellemore</a> (24)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629221">Droneslave Cipher</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629830">Elle Sawyer</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sunnyglade_brigade_magic_fighter_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/628942">Lydia Gemma</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/633295">Judith Neff</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/634557">Eddie Dahl</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629053">Maid Usagi</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/637049">Sissy Slut II</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629221">Droneslave Cipher</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/632334">Mera Blow II</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/635804">Dee Mag II</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/living_latex_catsuit_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,415</b></p>
            <p>
                <a href="/pvp/lookatplayer/629101">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629101">Joe Nobody</a> (24,415)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629793">Kaitlyn Halliwell</a> (21,850)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628936">Talon Reiss</a> (21,180)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/631978">Mindless Dolly</a> (20,650)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629621">Shallan Valence</a> (20,405)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629041">Markus Drake</a> (20,160)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/639545">Aereola Lovelace</a> (19,945)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629664">Summer Top</a> (19,715)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629083">Throbbing Horsecock</a> (16,170)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629874">Docile Toy</a> (15,550)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/cute_shark_pet_Mizuho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>25,015</b></p>
            <p>
                <a href="/pvp/lookatplayer/629040">Petty Blue</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629040">Petty Blue</a> (25,015)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628931">Princess Angelica</a> (24,900)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628939">Precious Moocow</a> (21,155)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628968">Gwen Majors</a> (20,325)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/628934">Melina Mercy</a> (19,370)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/632818">Erica Thom</a> (18,360)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/630390">Kyrah Binbow</a> (16,425)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/630425">Valarien Blackwell</a> (14,815)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/641029">Kattie Aereathia III</a> (13,895)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629182">Minervas Petslut</a> (13,870)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>21,765</b></p>
            <p>
                <a href="/pvp/lookatplayer/628929">Varin Elderblood</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628929">Varin Elderblood</a> (21,765)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/639007">Francis Beals II</a> (14,878)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/634176">Eador Masterson II</a> (10,500)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629548">Vanilla Cream</a> (8,000)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/630289">Carole Power II</a> (7,352)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/630243">Linnie Bunnie</a> (4,995)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/630010">Olwen Button</a> (4,917)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/630224">Fulvia Sisk</a> (4,896)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/631662">Hezekiah Gotobed</a> (4,784)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629187">Alex Schaeffer</a> (4,312)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>3,313</b></p>
            <p>
                <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (3,313)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629203">Nerati Sua</a> (2,099)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/635809">Zavier Lefen</a> (1,601)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (1,553)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629956">Jack Burgess</a> (1,490)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/636463">Alisaundra Kayle</a> (1,330)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629949">Minerva Aroura</a> (1,274)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (1,084)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/631217">Ashley Cherry IV</a> (934)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629016">Miyuki Akiyama</a> (816)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_07_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>3,203</b></p>
            <p>
                <a href="/pvp/lookatplayer/633295">Judith Neff</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/633295">Judith Neff</a> (3,203)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/635809">Zavier Lefen</a> (2,080)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/639007">Francis Beals II</a> (1,850)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629240">Juli Invincible</a> (690)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629657">Jessica Rainbow</a> (670)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/637380">Jennifer Cumdump</a> (600)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/634975">Flow Mueller</a> (600)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/628923">Ziggy Anvil</a> (580)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629137">Veln Moonscythe</a> (550)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/637787">Steve Wells</a> (510)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_05_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,010</b></p>
            <p>
                <a href="/pvp/lookatplayer/629548">Vanilla Cream</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629548">Vanilla Cream</a> (1,010)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (460)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629891">Doryl Astraea</a> (440)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/636094">Catalina Klumpf</a> (440)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629149">Vita Love</a> (400)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/635917">Anishai Mercer</a> (400)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629139">Escurel Dae</a> (390)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/634691">Snapper Redtear</a> (320)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629266">Alex Tandara</a> (320)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/635776">Puyo Hebihime</a> (300)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_01_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>143</b></p>
            <p>
                <a href="/pvp/lookatplayer/631662">Hezekiah Gotobed</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/631662">Hezekiah Gotobed</a> (143)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629579">Nyasa Meownya</a> (67)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629379">Kieran Seekshadow</a> (55)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629704">Tiffany Anders</a> (52)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/635630">Mystle Obelyn</a> (48)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/636270">Donna Lind</a> (36)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629148">Robin Nekada</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/634557">Eddie Dahl</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/633978">Zane Aurelius</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/630858">Casey Fletcher</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_10_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/629125">Angie Softsole</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629125">Angie Softsole</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629379">Kieran Seekshadow</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628918">Mio 'Latex Queen' Clavat</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629240">Juli Invincible</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/633978">Zane Aurelius</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/628977">Elpis Blav</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/631275">Laura Kira</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/630098">Aurora Ryall</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/637380">Jennifer Cumdump</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/631723">Lisa Grant</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/632624">Amond Kobalt III</a> (1)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629240">Juli Invincible</a> (1)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/633978">Zane Aurelius</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628949">Skye Winter</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/631298">Karen Hightower II</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/641231">Brantley Loving IV</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/630539">Kaiden Berman</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629990">Finean Gaige</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629309">Alum Valenti</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bdsm_pony_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>21</b></p>
            <p>
                <a href="/pvp/lookatplayer/633905">Alice Toy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/633905">Alice Toy</a> (21)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/634143">Drea Bertrand IV</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/636106">Tyler Utyr II</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629506">Pie Pies</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/634472">Arya Vynf</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/631933">Alonzo Thorne II</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/634710">Sophie Zeller</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/637380">Jennifer Cumdump</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>98</b></p>
            <p>
                <a href="/pvp/lookatplayer/628971">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (98)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (79)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (54)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/628912">Candy Savoy</a> (24)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629358">Tara Bellemore</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629221">Droneslave Cipher</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629830">Elle Sawyer</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/629120">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/635640">Ryan Copley</a> (3)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/635917">Anishai Mercer</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/630073">Skyla Quinn</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/637049">Sissy Slut II</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629358">Tara Bellemore</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629072">Dianya Nekobornya</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/641231">Brantley Loving IV</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/634472">Arya Vynf</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/633609">Vanity Lawless</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_14_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>26,480</b></p>
            <p>
                <a href="/pvp/lookatplayer/629657">Jessica Rainbow</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629657">Jessica Rainbow</a> (26,480)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (5,805)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (4,770)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (3,960)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629240">Juli Invincible</a> (1,695)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (1,195)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (1,125)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/628938">Shredster Khan</a> (1,010)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/630224">Fulvia Sisk</a> (990)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/639508">Max Velly</a> (360)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>58</b></p>
            <p>
                <a href="/pvp/lookatplayer/629120">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (58)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629530">Colleen Scarborough</a> (35)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (31)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/631857">Aiden Corbin</a> (30)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/631624">Amy Foster III</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/633549">Catherine Sherrill</a> (24)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/634472">Arya Vynf</a> (23)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629506">Pie Pies</a> (23)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/635519">Serotonin Ma</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/636853">Noelle Saylor III</a> (20)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/wind_up_doll_cherrycake.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/628947">Abigail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628947">Abigail Jasione</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/630140">Unagi Umino</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/635519">Serotonin Ma</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629168">Grace Daver</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/630289">Carole Power II</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/631840">Blacktears Xiseal</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/635164">Alex Fenton</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/635917">Anishai Mercer</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/634201">Joanna Pratt</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/633978">Zane Aurelius</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/punk_bunny_thatguy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>2,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/630224">Fulvia Sisk</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/630224">Fulvia Sisk</a> (2,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (730)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (567)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (402)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/636697">Allen Hopewick II</a> (249)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (206)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/628922">Madelyn Morris</a> (185)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629007">Bet Baum</a> (172)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629148">Robin Nekada</a> (156)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629187">Alex Schaeffer</a> (140)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/punk_bunny_thatguy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>160</b></p>
            <p>
                <a href="/pvp/lookatplayer/630224">Fulvia Sisk</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/630224">Fulvia Sisk</a> (160)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629004">Absorption Lover</a> (109)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629221">Droneslave Cipher</a> (104)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (59)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629358">Tara Bellemore</a> (50)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629320">Sofie Howard</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629153">Alex Norling</a> (39)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (38)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629240">Juli Invincible</a> (32)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/630725">Jesse Grey</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>54</b></p>
            <p>
                <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (54)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629949">Minerva Aroura</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629128">Kaitlin Corbin</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/630654">Cristina Westmoreland II</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/631157">Mil Hu</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629990">Finean Gaige</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629291">Nat Kimmel</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629320">Sofie Howard</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>243</b></p>
            <p>
                <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (243)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (54)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/630654">Cristina Westmoreland II</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629990">Finean Gaige</a> (30)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/639007">Francis Beals II</a> (30)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629949">Minerva Aroura</a> (29)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/630672">Rob Martinson</a> (29)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629291">Nat Kimmel</a> (27)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629320">Sofie Howard</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629128">Kaitlin Corbin</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>226</b></p>
            <p>
                <a href="/pvp/lookatplayer/629120">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (226)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (191)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/630407">Valorina Goldfield</a> (163)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (142)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (63)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/628929">Varin Elderblood</a> (35)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (35)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629016">Miyuki Akiyama</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629956">Jack Burgess</a> (20)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/634176">Eador Masterson II</a> (18)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sunnyglade_brigade_magic_fighter_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>34</b></p>
            <p>
                <a href="/pvp/lookatplayer/628942">Lydia Gemma</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (34)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (24)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/629203">Nerati Sua</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629956">Jack Burgess</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629053">Maid Usagi</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/628929">Varin Elderblood</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629704">Tiffany Anders</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629028">Tylwth Morh</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/628949">Skye Winter</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>153</b></p>
            <p>
                <a href="/pvp/lookatplayer/630407">Valorina Goldfield</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/630407">Valorina Goldfield</a> (153)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (146)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (121)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (73)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/629016">Miyuki Akiyama</a> (29)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (29)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629963">Millicent Tyson</a> (16)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629205">Holden Salazar II</a> (15)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629291">Nat Kimmel</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sunnyglade_brigade_magic_fighter_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/628942">Lydia Gemma</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (17)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/628932">Yvesza Sylwind</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628929">Varin Elderblood</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628948">Matt Felgrand</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/635156">Mary Settles</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629007">Bet Baum</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629967">Cory Bueno</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/629990">Finean Gaige</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/631662">Hezekiah Gotobed</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/629120">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/630140">Unagi Umino</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/632533">Walter Gage</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/629506">Pie Pies</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/634201">Joanna Pratt</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/631857">Aiden Corbin</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/629309">Alum Valenti</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629168">Grace Daver</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/637051">Nyashley Nyekobornya</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/632806">Sandy Saddle</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sunnyglade_brigade_magic_fighter_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>67</b></p>
            <p>
                <a href="/pvp/lookatplayer/628942">Lydia Gemma</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/628942">Lydia Gemma</a> (67)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/629120">Emily Hart</a> (41)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/628971">Nadia Ayers</a> (25)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/628929">Varin Elderblood</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/634176">Eador Masterson II</a> (18)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/629379">Kieran Seekshadow</a> (15)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/631723">Lisa Grant</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/629737">Eve Petrie</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/630407">Valorina Goldfield</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/629506">Pie Pies</a> (4)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>