﻿@model IEnumerable<TT.Domain.ViewModels.CovenantListItemViewModel>
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = "List of Covenants";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    @{
        if (ViewBag.Player.Covenant != null)
        {
            <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
        }
    }
    <li><a href="@Url.Action(MVC.Covenant.StartNewCovenant())">Create your own Covenant</a></li>
    @{
        if (ViewBag.HasApplication)
        {
            <li><a href="@Url.Action(MVC.Covenant.WithdrawApplication())">Withdraw Coven Application</a></li>
        }
    }
}

<div class="containerInner">
    @{
        foreach (var c in Model.OrderByDescending(c => c.MemberCount))
        {
            <div class="covListing">
                <div class="covFlag" style="background-image: url(/Images/PvP/CovenantFlags/@c.dbCovenant.FlagUrl)"></div>
                <span class="covBigName"><a href="@Url.Action(MVC.Covenant.LookAtCovenant(c.dbCovenant.Id))">@c.dbCovenant.Name</a></span>
                <span>(lvl @c.dbCovenant.Level)</span>
                <span class="covMemberCount">(@c.MemberCount members)</span>
                <span class="covLeader"><a href="@Url.Action(MVC.PvP.LookAtPlayer(c.Leader.Id))">Led by @c.Leader.GetFullName()</a></span>

                <p>@c.dbCovenant.SelfDescription.  @HtmlHelpers.PrintCovenantSafeground(c.dbCovenant)</p>

                @{
                    if (ViewBag.Player.Covenant == null)
                    {
                        <a href="@Url.Action(MVC.Covenant.ApplyToCovenant(c.dbCovenant.Id))">Apply</a>
                    }
                }
            </div>
        }
    }
</div>