﻿@model TT.Domain.Models.QuestStart
@using TT.Domain.Statics
@{
    ViewBag.Title = "Questing";
}

@section menu
{
    <li>@Ajax.ActionLink("Abandon Quest", MVC.Quest.Abandon(), new AjaxOptions {UpdateTargetId = "quest", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting"}, new {@class = ""})</li>
    <li><a href="@Url.Action(MVC.Chat.Index("global"))" target="_blank">Chat</a></li>

    @if (User.IsInRole(PvPStatics.Permissions_QuestWriter))
    {
        <li><a href="@Url.Action(MVC.QuestWriter.Index())">QuestWriter</a></li>
    }

    <li><a href="@Url.Action(MVC.Messages.Index())" id="newMessagesLink" class="glyphicon glyphicon-envelope">(0)</a></li>
}

<div class="containerInner" id="quest">

    <h1>Questing</h1>

    <p>You are in the quest <b>@Model.Name!</b>  Loading...</p><br>

    @Ajax.ActionLink("Resume Quest", MVC.Quest.Quest(), new AjaxOptions { UpdateTargetId = "quest", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "attackLink", @id = "continueQuest" })
</div>

@section scripts
{
    <script>

    var questId = @Model.Id;
   // var newMsgCount = 0;

    function success() {
        $("#loadingBox").hide();
    }

    function fail() {

        alert("Juderp!  Internal server error, unable to do this.");
    }

    function waiting() {
        $("#loadingBox").show();
    }

    function loadShowVariables() {

        var variables = [];

        $.getJSON("/QuestWriter/ShowAllActivePlayerVariables/" + questId, function (data) {
            variables = data;
        }).then(function () {
            $("#listVariables").html("<br>All variables active in this quest:<br>");
            for (var i = 0; i < variables.length; i++) {
                var variable = variables[i];
                $("#listVariables").append("<b>" + variable.Name + "</b> : <b>" + variable.Value + "</b><br>");
            }
        });
    }



    setTimeout(function(){ $("#continueQuest").click() }, 50);


    </script>
}

@section head
{
    <style>
    #continueQuest {
        display:none;
    }
    </style>
}
